$gradient:radial-gradient(circle farthest-side, #fceabb, #f8b500);
$box-shadow_color:inset 2px 2px 5px rgba(41, 30, 92, 0.5),
    1px 1px 5px rgb(22, 38, 96), 1px 1px 5px rgb(22, 38, 96),
    1px 1px 5px rgb(22, 38, 96);
$text-shadow_color:0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px crimson,
    0 0 35px crimson, 0 0 40px crimson, 0 0 50px crimson, 0 0 75px crimson;

$menu-bg_color:$gradient;
$menu-border_color:#f8b500;
$timer-bg_color:$gradient;
$card-bg_color:$gradient;
$form-name-border_color:linear-gradient(#fceabb, #f8b500) 30;
$form-name-border_color_focus:yellow;
$form-label-bg_color:$gradient;
$form-label_color_hover:blue;
$form-btn-border_color:linear-gradient(#fceabb, #f8b500) 30;
$control-btn-border_color:$form-btn-border_color;
$control-btn_color_hover:rgb(235, 163, 40);

$radio-btn_hover_border:blue;
$pause-btn-bg_color:#f8b500;
$link_color:blue;

$title_color:blue;
$text_color: rgb(99, 12, 51);
