@font-face {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  src: url("H:\Работа\src\resources\fonts\DM_Sans\DMSans-Regular.ttf.ts") format('truetype');
}

@font-face {
  font-family: "Indie Flower", cursive;
  font-style: normal;
  src: url("H:\Работа\src\resources\fonts\Indie_Flower\IndieFlower-Regular.ttf") format('truetype');
}

$main_font: "DM Sans", sans-serif;
$signature_font: "Indie Flower", cursive;
