@mixin centr-horiz-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@mixin space-horiz-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@mixin centr-vert-flex {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
@mixin space-vert-flex {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
}
@mixin font-styler(
  $size,
  $lh,
  $family: $main_font,
  $weight: 400,
  $color: $text_color,
  $opacity: 1
) {
  font-family: $family;
  font-size: $size;
  line-height: $lh;
  font-weight: $weight;
  color: $color;
  opacity: $opacity;
}

@mixin svg-styler($width, $height: $width, $fill: #ffffff) {
  width: $width;
  height: $height;
  fill: $fill;
  cursor: pointer;
}
@mixin pseudo-creater(
  $display: block,
  $position: absolute,
  $content: "",
  $width: 10px,
  $height: 10px,
  $bg: black
) {
  display: $display;
  content: $content;
  position: $position;
  width: $width;
  height: $height;
  background: $bg;
}

@mixin crossbrowser_scale($value) {
  transform: scale($value);
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -ms-transform: scale($value);
  -o-transform: scale($value);
}
@mixin crossbrowser_transition($trans) {
  transition: $trans ease-in-out;
  -webkit-transition: $trans ease-in-out;
  -moz-transition: $trans ease-in-out;
  -ms-transition: $trans ease-in-out;
  -o-transition: $trans ease-in-out;
}
@mixin crossbrowser_br($br) {
  border-radius: $br;
  -webkit-border-radius: $br;
  -moz-border-radius: $br;
  -ms-border-radius: $br;
  -o-border-radius: $br;
}